# Ignore Package Control
*.cache
*.last-run
*.merged-ca-bundle
Package Control.sublime-settings
*.system-ca-bundle
*.user-ca-bundle
*.DS_STORE

# Ignore DefaultSyntax Plugin
# DefaultSyntax.py

# Ignore Color Highlighter Cache
Color Highlighter/

# Ignore Gist Settings
Gist.sublime-settings

# Ingore NodeJS Modules
node_modules/

oscrypto-ca-bundle.crt
TextPastryHistory.sublime-settings
