# Ignore Package Control
*.cache
*.last-run
*.merged-ca-bundle
*.system-ca-bundle
*.user-ca-bundle

# Ignore System dot files
*.DS_STORE

# Ignore Color Highlighter Cache
Color Highlighter/

# Ignore Gist Settings
Gist.sublime-settings

# Ignore MarkdownPreview Settings
MarkdownPreview.sublime-settings

# Ingore NodeJS Modules
node_modules/

# Ingore misc module files
oscrypto-ca-bundle.crt
TextPastryHistory.sublime-settings